body {
   color: rgb(233, 233, 239);
   /* background-color: rgb(243, 237, 237); */
   font-family: 'Ubuntu', sans-serif;
   margin: 0px;
}

.navbar-brand {

   color: white;
}

.navbar {
   background-color: #343A40;
}


li {
   color: white;
}

header,
footer {
   width: 100%;
   margin-bottom: 20px;
}

footer {
   position: fixed;
   bottom: 0px;
}