
<header>
    <nav class="navbar navbar-expand-lg position-absolute bottom-0 start-50 translate-middle-x justify-content-center">
		<div class="container justify-content-center">
			<div class="row justify-content-center">
				
			<p class="text-white text-center">Proudly made by Asma Yahmi, Candy Berthelot and Hubert Moyne</p>
			<p class="text-white text-center">Afpa DWWM 2024</p>
				
			</div>
		</div>
    </nav>
  
</header>


