<div>
	{% for film in films %}
		<div>
			
				
					
					<label for="title">
						<b>{{film.getTitre}}
							:
						</b>
					</label>
					<label for="description">
						<b>{{film.getRealisateur}}</b>
					</label>
					<input value="{{film.getId}}" name="id" type="hidden">

		
		</div>
	{% endfor %}
</div>
