<div>
	{% for offre in offres %}
		<div>
			
				
					
					<label for="title">
						<b>{{offre.getTitre}}
							:
						</b>
					</label>
					<label for="description">
						<b>{{offre.getRealisateur}}</b>
					</label>
					<input value="{{offre.getId}}" name="id" type="hidden">

		
		</div>
	{% endfor %}
</div>
